<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    link(rel="shortcut icon", href="./img/favicon.ico", type="image/x-icon")
    link(rel="stylesheet", href="./libs/css/vendor.min.css")
    link(rel="stylesheet", href="./css/style.css")
    title Glass
  body

    header.header
      .mobile-menu.js-mobile-menu
        ul.nav-mobile
          li
            a(href="#plat").js-menu-mobile-link О Платформе 
          li
            a(href="#blockchain").js-menu-mobile-link Технология
          li
            a(href="#tech").js-menu-mobile-link Блокчейн
          li
            a(href="#profits").js-menu-mobile-link Выгоды
          li
            a(href="#dev").js-menu-mobile-link Развитие
          li
            a(href="#contacts").js-close-popup Связаться с нами
      .container
        .top-menu
          a(href="").logo
            img(src="./img/logo.png", alt="")
          .langs-wrapper.js-langs
            .langs
              .lang
                span RU
              .lang
                a(href="")
                  span RU
              .lang
                a(href="")
                  span RU
            i.fa.fa-caret-down(aria-hidden="true")
          .burger-menu.js-burger-menu
            i.fa.fa-bars(aria-hidden="true").js-open
            img(src="./img/close-2.svg", alt="").js-hide
          
          nav
            ul.nav
              li
                a(href="#plat").js-link О Платформе 
              li
                a(href="#blockchain").js-link Технология
              li
                a(href="#tech").js-link Блокчейн
              li
                a(href="#profits").js-link Выгоды
              li
                a(href="#dev").js-link Развитие
              li
                a(href="").js-popup-show Связаться с нами
        .content
          .row
            .col-xl-7.col-lg-7
              .text
                h1 GLASS
                p.desc.
                  Многофункциональная платформа для организации защищенных онлайн-голосований с использованием блокчейн-технологии
                p.small.
                  Решение для крупных предприятий и государственных учреждений
                button.create.js-popup-show Создать голосование
            .col-xl-4.offset-xl-1.col-lg-5
              .header-icons
                .line
                  img(src="./img/icon-1.svg", alt="")
                  span Прозрачность
                .line
                  img(src="./img/icon-2.svg", alt="")
                  span Безопасность
                .line
                  img(src="./img/icon-3.svg", alt="")
                  span Надежность
                .line
                  img(src="./img/icon-4.svg", alt="")
                  span Легкая организация


    .wrapper-for-bg
      //- Advantages  adapted = true
      section.adv#plat
        img(src="./img/bg-elem-1.png", alt="").bg-elem-1
        img(src="./img/bg-elem-2.png", alt="").bg-elem-2
        .container
          .row
            .col-xl-4.col-lg-4.col-md-6.wow.animated.zoomIn(data-wow-delay="0.1s")
              .adv-card
                img(src="./img/adv-1.svg", alt="").icon
                .text-block
                  p.title ОТКРЫТОЕ ГОЛОСОВАНИЕ
                  p.text.
                    Гарантированная идентификация избирателей и промежуточные результаты в реальном времени
            .col-xl-4.col-lg-4.col-md-6.wow.animated.zoomIn(data-wow-delay="0.3s")
              .adv-card
                img(src="./img/adv-2.svg", alt="").icon
                .text-block
                  p.title ТАЙНОЕ ГОЛОСОВАНИЕ
                  p.text.
                    Полная анонимность избирателей и отсутствие дублирования голосов 
            .col-xl-4.col-lg-4.col-md-6.wow.animated.zoomIn(data-wow-delay="0.5s")
              .adv-card
                img(src="./img/adv-3.svg", alt="").icon
                .text-block
                  p.title ИНДИВИДУАЛЬНЫЙ СТИЛЬ
                  p.text.
                    Быстрая адаптация голосования под корпоративный стиль
            .col-xl-4.col-lg-4.col-md-6.wow.animated.zoomIn(data-wow-delay="0.7s")
              .adv-card.h-init
                img(src="./img/adv-4.svg", alt="").icon
                .text-block
                  p.title ДОСТУПНОСТЬ НА ВСЕХ УСТРОЙСТВАХ
                  p.text.
                    Неограниченное количество участников голосования
            .col-xl-4.col-lg-4.col-md-6.create-order.wow.animated.zoomIn(data-wow-delay="0.9s")
              .create-card.h-init
                p.title СОЗДАТЬ ГОЛОСОВАНИЕ
                p.text.
                  Подробная информация о запуске и настройке системы голосований
                button.btn-create.js-popup-show Создать голосование
            .col-xl-4.col-lg-4.col-md-12.wow.animated.zoomIn(data-wow-delay="1.1s")
              .adv-card.h-init
                img(src="./img/adv-5.svg", alt="").icon
                .text-block
                  p.title МАСШТАБИРОВАНИЕ
                  p.text.
                    Платформа способна обрабатывать неограниченное число избирателей

      //- Platform  adapted = true
      section.platform#blockchain
        .container
          .row
            .col-xl-9
              h2 Архитектура платформы
              p.text.
                #[span glass] - универсальная платформа голосования на основе собственной блокчейн технологии с возможностью гибкой настройки под каждого клиента. Платформа GLASS позволяет запустить собственное голосование за несколько шагов.
          .img.wow.animated.fadeIn
            img(src="./img/platform.png", alt="").desktop
            img(src="./img/platform-mobile.png", alt="").mobile

    //- Features  adapted = true
    section.features#tech
      .container
        h2 CrossChain. Особенности собственного блокчейна
        .row
          .col-xl-4.js-card-wrapper.wow.animated.zoomIn(data-wow-delay="0.1s")
            .feature-card
              img(src="./img/check.png", alt="")
              p.text Высокая производительность
              .feature-card-show.js-feature-card-show
                .icon
                  img(src="./img/check.png", alt="")
                  p.main Используемые консенсусы в CrossChain:
                .text-block
                  p.title Proof of Stake, Proof of Authority.
                  p.common-text.
                    Текущий показатель производительности CrossChain - 16’000 tps (transaction per second), после внедрения дополнительной функциональности ожидается 50’000 tps
          .col-xl-4.js-card-wrapper.wow.animated.zoomIn(data-wow-delay="0.3s")
            .feature-card
              img(src="./img/check.png", alt="")
              p.text Наличие Software Development Toolkit
              .feature-card-show.js-feature-card-show
                .icon
                  img(src="./img/check.png", alt="")
                  p.main Используемые консенсусы в CrossChain:
                .text-block
                  p.title SDK
                  p.common-text.
                    набор средств разработки, позволяющий сторонним разработчикам взаимодействовать
                    с блокчейном без глубокого погружения в его особенности, а также разрабатывать
                    собственные бизнес-продукты на его основе
          .col-xl-4.js-card-wrapper.wow.animated.zoomIn(data-wow-delay="0.5s")
            .feature-card
              img(src="./img/check.png", alt="")
              p.text Наличие миграций
              .feature-card-show.js-feature-card-show
                .icon
                  img(src="./img/check.png", alt="")
                  p.main Используемые консенсусы в CrossChain:
                .text-block
                  p.title Миграции
                  p.common-text.
                    это возможность добавления новой функционости без остановки работы блокчейна
          .col-xl-4.js-card-wrapper.wow.animated.zoomIn(data-wow-delay="0.7s")
            .feature-card
              img(src="./img/check.png", alt="")
              p.text Децентрализованный обмен токенов
              .feature-card-show.js-feature-card-show
                .icon
                  img(src="./img/check.png", alt="")
                  p.main Используемые консенсусы в CrossChain:
                .text-block
                  p.title CrossChain
                  p.common-text.
                    позволяет совершать децентрализованный обмен токенов между разными блокчейнами
                    напрямую, без посредников
          .col-xl-4.js-card-wrapper.wow.animated.zoomIn(data-wow-delay="0.9s")
            .feature-card
              img(src="./img/check.png", alt="")
              p.text Simplified Payment Verification
              .feature-card-show.js-feature-card-show
                .icon
                  img(src="./img/check.png", alt="")
                  p.main Используемые консенсусы в CrossChain:
                .text-block
                  p.title Simplified Payment Verification
                  p.common-text.
                    это возможность быстрой верификации операций без загрузки всего блокчейна
          .col-xl-4.js-card-wrapper.wow.animated.zoomIn(data-wow-delay="1.1s")
            .feature-card
              img(src="./img/check.png", alt="")
              p.text Масштабируемость / Шардинг
              .feature-card-show.js-feature-card-show
                .icon
                  img(src="./img/check.png", alt="")
                  p.main Используемые консенсусы в CrossChain:
                .text-block
                  p.title Шардинг
                  p.common-text.
                    решает проблему масштабирования приложений, позволяя быстро и эффективно
                    справляться с нагрузкой и давать ответ на запросы приложения - повышает
                    отказоустойчивость системы
        .bottom
          button.more.js-popup-show Узнать больше
          p.text.
            Успешно пройден аудит лаборатории информационной безопасности при факультете ВМК МГУ им. М.В.Ломоносова


    .wrapper-for-bg

      //- PRofits  adapted = true
      section.profits#profits
        img(src="./img/bg-elem-3.png", alt="").bg-elem-3
        img(src="./img/bg-elem-4.png", alt="").bg-elem-4
        .container
          h2 Glass. Выгоды
          .row
            .col-xl-4.no-right-pad.col-lg-4
              .nav-tabs
                .nav-tab.active.js-nav-tab(data-tab="js-item-1")
                  .icon
                    img(src="./img/profit-nav-1.svg", alt="")
                  span.title Для государства
                  span.title-mobile Государству
                .nav-tab.js-nav-tab(data-tab="js-item-2")
                  .icon
                    img(src="./img/profit-nav-2.svg", alt="")
                  span.title Для бизнеса и НКО
                  span.title-mobile Бизнесу и НКО
                .nav-tab.js-nav-tab(data-tab="js-item-3")
                  .icon
                    img(src="./img/profit-nav-3.svg", alt="")
                  span.title Для избирателей
                  span.title-mobile Избирателям
            .col-xl-8.no-left-pad.col-lg-8
              .nav-content.js-nav-content
                .item.active.js-item-1.js-item
                  .item-top
                    .list
                      .list-item
                        img(src="./img/profit-min-1.svg", alt="")
                        span Увеличение явки
                      .list-item
                        img(src="./img/profit-min-2.svg", alt="")
                        span Интерес со стороны молодежи
                      .list-item
                        img(src="./img/profit-min-3.svg", alt="")
                        span Снижение расходов на организацию
                    .list
                      .list-item
                        img(src="./img/profit-min-4.svg", alt="")
                        span Анонимность избирателей
                      .list-item
                        img(src="./img/profit-min-5.svg", alt="")
                        span Нет дублирования голосови
                      .list-item
                        img(src="./img/profit-min-6.svg", alt="")
                        span Подсчет голосов за несколько секунд
                      .list-item
                        img(src="./img/profit-min-7.svg", alt="")
                        span Полная защита личности избирателя от подделки
                  .item-bottom
                    .text
                      p
                        span.logo 
                          img(src="./img/logo.png", alt="")
                        span - универсальная платформа голосования на основе собственной блокчейн технологии с возможностью гибкой настройки под каждого клиента. 
                      p.
                        Платформа GLASS позволяет запустить собственное голосование за несколько шагов.
                      p.
                        Хотите узнать как? #[a(href="#", title="title").put.js-popup-show Оставьте заявку] и наши специалисты свяжутся с вами для консультации.
                .item.js-item-2.js-item
                  .item-top
                    .list
                      .list-item
                        img(src="./img/profit-min-1.svg", alt="")
                        span Сокращение расходов на организацию
                      .list-item
                        img(src="./img/profit-min-2.svg", alt="")
                        span Возможность организовать разные типы голосований
                      .list-item
                        img(src="./img/profit-min-3.svg", alt="")
                        span Снижение времени организации голосования
                      .list-item
                        img(src="./img/profit-min-4.svg", alt="")
                        span Повышение удобства участия для избирателей
                  .item-bottom
                    .text
                      p
                        span.logo 
                          img(src="./img/logo.png", alt="")
                        span - универсальная платформа голосования на основе собственной блокчейн технологии с возможностью гибкой настройки под каждого клиента. 
                      p.
                        Платформа GLASS позволяет запустить собственное голосование за несколько шагов.
                      p.
                        Хотите узнать как? #[a(href="#", title="title").put.js-popup-show Оставьте заявку] и наши специалисты свяжутся с вами для консультации.

                .item.js-item-3.js-item
                  .item-top
                    .list
                      .list-item
                        img(src="./img/profit-min-1.svg", alt="")
                        span Удобство участия в голосовании
                      .list-item
                        img(src="./img/profit-min-2.svg", alt="")
                        span Сокращение времени на голосование
                      .list-item
                        img(src="./img/profit-min-3.svg", alt="")
                        span Гарантированная анонимность выборов
                      .list-item
                        img(src="./img/profit-min-4.svg", alt="")
                        span Гарантированная прозрачность референдумов
                      .list-item
                        img(src="./img/profit-min-5.svg", alt="")
                        span Результаты референдумов в режиме реального времени
                  .item-bottom
                    .text
                      p
                        span.logo 
                          img(src="./img/logo.png", alt="")
                        span - универсальная платформа голосования на основе собственной блокчейн технологии с возможностью гибкой настройки под каждого клиента. 
                      p.
                        Платформа GLASS позволяет запустить собственное голосование за несколько шагов.
                      p.
                        Хотите узнать как? #[a(href="#", title="title").put.js-popup-show Оставьте заявку] и наши специалисты свяжутся с вами для консультации.


      //- develop  adapted = true
      section.develop#dev
        .container
          h2 GLASS. Технологическое развитие
          p.desc Наша техническая команда постоянно совершенствует платформу GLASS и регулярно выпускает обновления системы.
          .profits-wrapper
            .profits-line-1
              .point-wrapper
                .point
                  .icon
                    img(src="./img/profit-1.svg", alt="")
                  span.line
                  span.circle
                    span.mini-circle
                .text-block
                  p.title 05.09.19
                  p.text Интеграция с Госуслугами
              .point-wrapper.mobile-only
                .point
                  .icon
                    img(src="./img/profit-4.svg", alt="")
                  span.line
                  span.circle
                    span.mini-circle
                .text-block.w-346
                  p.title 15.09.19
                  p.text Реализация тайного голосования: анонимность избирателей + отсутствие дублирования голосов
              .point-wrapper
                .point
                  .icon
                    img(src="./img/profit-2.svg", alt="")
                  span.line
                  span.circle
                    span.mini-circle
                .text-block.w-121
                  p.title 25.09.19
                  p.text Криптография по ГОСТу РФ
              
              .point-wrapper.reverse
                .point
                  .icon
                    img(src="./img/profit-3.svg", alt="")
                  span.line
                  span.circle
                    span.mini-circle
                .text-block.w-258
                  p.title 05.10.19
                  p.text Размещение исходного кода Блокчейна в open source
              .point-wrapper.mobile-only
                .point
                  .icon
                    img(src="./img/profit-5.svg", alt="")
                  span.line
                  span.circle
                    span.mini-circle
                .text-block.w-211
                  p.title 15.10.19
                  p.text Снижение времени на разворачивание системы голосования до пары часов
              

            .profits-line
              i.fa.fa-angle-right(aria-hidden="true")
            .profits-line-1.profits-line-2
              .point-wrapper.move
                .point
                  .icon
                    img(src="./img/profit-4.svg", alt="")
                  span.line
                  span.circle
                    span.mini-circle
                .text-block.w-346
                  p.title 15.09.19
                  p.text Реализация тайного голосования: анонимность избирателей + отсутствие дублирования голосов
              .point-wrapper
                .point
                  .icon
                    img(src="./img/profit-5.svg", alt="")
                  span.line
                  span.circle
                    span.mini-circle
                .text-block.w-211
                  p.title 15.10.19
                  p.text Снижение времени на разворачивание системы голосования до пары часов

    //- Contacts
    section.contacts#contacts
      .container
        h2 Успешный запуск платформы GLASS
        .row
          .col-xl-10.offset-xl-1
            .swiper-container
              .swiper-wrapper
                .swiper-slide 
                  .row
                    .col-xl-5
                      .left-side
                        .text-wrapper
                          p.title Внутрифракционные голосования в «Партии Роста»
                          img(src="./img/slide-1.png", alt="").desktop
                          .text
                            p Участников #[span 1600 ]
                            p Длительность #[span 1 неделя]
                        img(src="./img/slide-1-mob.png", alt="").mobile                      
                    .col-xl-7
                      .right-panel
                        .part-1
                          .text
                            p
                              span.emp 90%
                              span сэкономлено времени команды организаторов
                            p
                              span.emp 25%
                              span увеличение явки
                            p
                              span.emp 95%
                              span уровень доверия к результатам голосования
                          img(src="./img/slide-1-2.png", alt="")
                        .part-2
                          .text
                            p.title Отзыв Партии Роста
                            p.common-text.
                              Блокчейн - это фундаментальное изменение отношений между государством и обществом, людей между собой. Это жизнь без вранья. Для принятия внутрипартийных решений через голосование с декабря 2018 года мы используем блокчейн-платформу GLASS. Планируем и дальше развиваться в этом направлении со специалистами из GLASS.
                            p.credit Председатель «Партии Роста» Б.Ю Титов
               
                .swiper-slide 
                  .row
                    .col-xl-5
                      .left-side
                        .text-wrapper
                          p.title Внутрифракционные голосования в «Партии Роста»
                          img(src="./img/slide-1.png", alt="").desktop
                          .text
                            p Участников #[span 1600]
                            p Длительность #[span 1 неделя]
                        img(src="./img/slide-1-mob.png", alt="").mobile                      
                    .col-xl-7
                      .right-panel
                        .part-1
                          .text
                            p
                              span.emp 90%
                              span сэкономлено времени команды организаторов
                            p
                              span.emp 25%
                              span увеличение явки
                            p
                              span.emp 95%
                              span уровень доверия к результатам голосования
                          img(src="./img/slide-1-2.png", alt="")
                        .part-2
                          .text
                            p.title Отзыв Партии Роста
                            p.common-text.
                              Блокчейн - это фундаментальное изменение отношений между государством и обществом, людей между собой. Это жизнь без вранья. Для принятия внутрипартийных решений через голосование с декабря 2018 года мы используем блокчейн-платформу GLASS. Планируем и дальше развиваться в этом направлении со специалистами из GLASS.
                            p.credit Председатель «Партии Роста» Б.Ю Титов
               
                .swiper-slide 
                  .row
                    .col-xl-5
                      .left-side
                        .text-wrapper
                          p.title Внутрифракционные голосования в «Партии Роста»
                          img(src="./img/slide-1.png", alt="").desktop
                          .text
                            p Участников #[span 1600]
                            p Длительность #[span 1 неделя]
                        img(src="./img/slide-1-mob.png", alt="").mobile                      
                    .col-xl-7
                      .right-panel
                        .part-1
                          .text
                            p
                              span.emp 90%
                              span сэкономлено времени команды организаторов
                            p
                              span.emp 25%
                              span увеличение явки
                            p
                              span.emp 95%
                              span уровень доверия к результатам голосования
                          img(src="./img/slide-1-2.png", alt="")
                        .part-2
                          .text
                            p.title Отзыв Партии Роста
                            p.common-text.
                              Блокчейн - это фундаментальное изменение отношений между государством и обществом, людей между собой. Это жизнь без вранья. Для принятия внутрипартийных решений через голосование с декабря 2018 года мы используем блокчейн-платформу GLASS. Планируем и дальше развиваться в этом направлении со специалистами из GLASS.
                            p.credit Председатель «Партии Роста» Б.Ю Титов
               
        .row
          .col-xl-10.offset-xl-1
            .slider-bottom
              .swiper-scrollbar

              .js-swiper-pagination

              .btns

                .js-swiper-button-prev.slider-btn
                  img(src="./img/next.png", alt="")
                .js-swiper-button-next.slider-btn
                  img(src="./img/next.png", alt="")

    //- Footer  adapeted = true
    footer.footer
      .container
        .content
          .text
            a(href="").logo
              img(src="./img/logo-white.png", alt="")
            p.
              GLASS — глобальная платформа на основе собственного блокчейна с возможностью гибкой настройки параметров голосования под любые требования
          .menu
            p.title Меню
            .links
              ul
                li
                  a(href="#plat").js-link О платформе
                li
                  a(href="#blockchain").js-link Технология
                li
                  a(href="#tech").js-link Блокчейн
              ul
                li
                  a(href="#profits").js-link Выгоды
                li
                  a(href="#dev").js-link Развитие
                li
                  a(href="").js-popup-show Связаться с нами
          a(href="").create.js-popup-show Создать голосование



  //- Popup
  .popup-wrapper.js-popup
    .popup-body
      form(action="").popup-form
        img(src="./img/close.svg", alt="").close-popup.js-close-popup
        img(src="./img/close-big.svg", alt="").close-popup-big.js-close-popup
        p.title Свяжитесь с нами
        input(type="text", name="", placeholder="Имя*").input
        input(type="text", name="", placeholder="Электронный адрес*").input
        input(type="text", name="", placeholder="Телефон").input
        textarea(name="", placeholder="Текст сообщения*").input.textarea
        button.create Отправить




  script(src="./libs/js/vendor.min.js")
  script(src="./js/index.js")
  