<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    link(rel="shortcut icon", href="./img/favicon.ico", type="image/x-icon")
    link(rel="stylesheet", href="./libs/css/vendor.min.css")
    link(rel="stylesheet", href="./css/style.css")
    title БалтЛифт
  body

    //- Header  adapted = 
    header.header
      .header-top
        .container
          .content
            a.logo(href="")
              img(src="./img/logo.png", alt="")
            a.tel(href="tel:+7 (812) 719-80-98")
              img(src="./img/phone.png", alt="")
              span +7 (812) 719-80-98
            span.burger-icon.js-burger-icon
              img(src="./img/burger.png", alt="")
      nav.header-nav
        .container
          .nav-links-wrapper.js-burger-menu
            .nav-links
              a(href="").drop-link
                span Лифтовое оборудование
                img(src="./img/arrow-down.svg", alt="")
              a(href="") Парковочные системы
              a(href="") Портфолио
              a(href="") Инвестиции
              a(href="") О компании
              a(href="") Контакты
              a.tel(href="tel:+7 (812) 719-80-98")
                img(src="./img/phone-white.png", alt="")
                span +7 (812) 719-80-98

    //- Slider  adapted = true
    section.slider
      .slider-wrapper.js-slider-header
        .slide.slide-1
          .container
            .row
              .col-xl-7.offset-xl-1.col-lg-9.offset-lg-1
                .slide-content
                  img(src="./img/line.png", alt="").line
                  .text
                    h1 Проходная кабина
                    p.desc.
                      Выход есть всегда, а а данном случае их целых три! Мы готовы предложить уникальные решения
                    a(href="").btn-more Узнать больше
        .slide.slide-1
          .container
            .row
              .col-xl-7.offset-xl-1.col-lg-9.offset-lg-1
                .slide-content
                  img(src="./img/line.png", alt="").line
                  .text
                    h1 Проходная кабина
                    p.desc.
                      Выход есть всегда, а а данном случае их целых три! Мы готовы предложить уникальные решения
                    a(href="").btn-more Узнать больше
      .slider-btns
        button.btn-prev.js-btn-prev
          img(src="./img/slider-arrow.png", alt="")
        button.btn-next.js-btn-next
          img(src="./img/slider-arrow.png", alt="")

    //- Standarts  adapted = true
    section.standarts
      img(src="./img/bg-1.png", alt="").bg-elem-1
      img(src="./img/bg-2.png", alt="").bg-elem-2
      .container
        h2 СТАНДАРТЫ КАЧЕСТВА
        .standart
          .row
            .col-xl-4.col-lg-4.col-md-5.col-sm-9
              .img.orange.border-left
                img(src="./img/standart-1.jpg", alt="")
            .col-xl-4.col-lg-5.col-md-7.col-sm-12
              p.text.
                Мы ценим время наших клиентов и делаем все, чтобы сотрудничество с нами было максимально удобным. Мы компания полного цикла с профессиональным подходом к организации всего процесса установки лифта.
        .standart
          .row
            .col-xl-4.offset-xl-4.col-lg-5.offset-lg-3.col-md-7.offset-md-0.order
              p.text.
                С 2004 года на территории Санкт-Петербурга и СЗФО мы успешно реализовали множество проектов, от самых простых до элитных. Помогаем сделать дома совершеннее и комфортнее. Устанавливая лифты – делаем любой этаж доступным!
            .col-xl-4.col-lg-4.col-md-5.col-sm-9
              .img.border-right
                img(src="./img/standart-2.jpg", alt="")
      .standart-wrapper
        .container.standart-container
          .standart
            .row
              .col-xl-4.col-lg-4.col-md-5.col-sm-9
                .img.orange.border-left
                  img(src="./img/standart-3.jpg", alt="")
              .col-xl-4.col-lg-5.col-md-7
                p.text.
                  Сотрудники компании имеют большой опыт работы с объектами любой степени сложности и готовы начать работу на любой стадии установки лифта, начиная с предпроектных работ и экспертизы и заканчивая вводом в эксплуатацию и сдачу надзорным органам.


      //-  

            
    //- Feedback  adapted = true
    section.feedback
      .container
        .row.align-items-end
          .col-xl-8.offset-xl-2.col-lg-10.offset-lg-1
            p.text.
              Приглашаем к сотрудничеству проектные организации, архитектурные бюро и дизайн студии.Сотрудничать с нами надежно, удобно и выгодно.
            .inputs
              input(type="text", placeholder="Имя").input
              input(type="text", placeholder="E-mail").input
              input(type="text", placeholder="Телефон").input
            textarea(name="", placeholder="Сообщение").input
            .checkbox
              input#check(type="checkbox") 
              label(for="check") #[span Принимаю пользовательское] #[a(href="#") соглашение о конфиденциальности]
            .btn
              button(type="submit") Отпавить
          .col-xl-1.offset-xl-1.col-lg-1.offset-lg-0.offset-md-11.col-sm-2.offset-sm-10.col-3.offset-9
            .right-btns
              button.mess
                img(src="./img/mess.png", alt="")
              button.call
                img(src="./img/phone-white.png", alt="")

        
    //- Footer  adapted = true
    footer.footer
      .map
        img(src="./img/map.jpg", alt="")
      .contacts
        .text
          h3 КОНТАКТЫ
          p.
            Работаем с 2004г. #[br]
            Официальный дистрибьютор IGV в Санкт-Петербурге. #[br]
            Поставка, монтаж, наладка и техническое обслуживание лифтов и эскалаторов.191187, г.Санкт-Петербург, Гагаринская ул., д.6
          .tels
            .wrap
              a(href="tel:+") 8 (812) 628-01-08
              a(href="tel:+") 8 (812) 628-01-08
            .wrap
              a(href="tel:+") 8 (812) 628-01-08
              a(href="tel:+") 8 (812) 628-01-08
          a(href="#", title="title").mail baltlift@inbox.ru


  script(src="./libs/js/vendor.min.js")
  script(src="./js/index.js")
  