.video
  &-wrapper
    position: relative
  &__video
    width: 100%
    position: absolute
    top: 0
    left: 0
    width: 100%
    // height: 952px
    height: calc(100vh - 160px)
    min-height: 300px
    object-fit: cover
    @media screen and ( max-width: 1500px )
      // height: 800px
    +media-b(1280)
      // height: 595px
    +media-b(960)
      // height: 530px
    +media-b(865)
      // height: 440px
    +media-b(720)
      // height: 350px
    +media-b(600)
      // height: 300px
    +media-b(990)
      height: 300px
  &__balloon-5
    left: 25vw
    top: 10vh
  &__balloon-6
    left: 46vw
    top: 3vh
  &__balloon-4
    left: 66vw
    top: 17vh
  &__balloon-7
    left: 82vw
    top: 3vh
  &__balloon-2
    left: 36vw
    top: 25vh
  &__balloon-1
    left: 64vw
    top: 34vh
  &__balloon-3
    left: 24vw
    top: 61vh