.main-wrapper
  display: none
  width: 100%
  height: 100%
  position: fixed
  top: 0
  left: 
  background: transparent
  z-index: 999
  // +lg-one(display, block)
  &.active
    display: block
.header
  position: relative
  z-index: 9999999999
  overflow: hidden
  .tel
    display: flex
    align-items: center
    color: $blue
    +lg-one(display, none)
    img
      margin-right: 5px
  &-top
    background: $white
    padding: 10px 0
    .content
      display: flex
      align-items: center
      justify-content: space-between
      
      .burger-icon
        display: none
        cursor: pointer
        +lg-one(display, block)
      
  &-nav
    padding: 30px 0
    // background: url('../img/bg-header.png')
    // background-repeat: no-repeat
    // background-size: cover
    // background-position: center center
    background: $blue
    position: relative
    z-index: 666
    +lg
      background-position-x: initial
      background-position-y: initial
      height: 80px
    .rails
      position: absolute
      top: 0
      left: 0
      width: 100%
      height: 100%
      z-index: -1
      .go-item
        position: absolute
        top: 0
        width: 121px
        height: 58px
        transform: skew(16deg)
        background: $orange
        opacity: 0.5
        left: 200px
        +lg-one(height, 57px)
      .item1
        animation-name: go1
        animation-duration: 20s
        animation-iteration-count: infinite
        animation-timing-function: linear
        +lg
          animation-name: go1-1
          left: 50px
      .item2
        bottom: 0
        top: initial
        left: 250px
        animation-name: go2
        animation-duration: 25s
        animation-delay: 3s
        animation-iteration-count: infinite
        animation-timing-function: linear
        +lg
          animation-name: go2-2
          left: 80px
      .item3
        bottom: 0
        top: initial
        left: initial
        right: 250px
        animation-name: go3
        animation-duration: 25s
        animation-delay: 0s
        animation-iteration-count: infinite
        animation-timing-function: linear
        +lg
          animation-name: go3-3
          right: 80px
      .item4
        top: 0
        left: initial
        right: 200px
        animation-name: go4
        animation-duration: 22s
        animation-delay: 3s
        animation-iteration-count: infinite
        animation-timing-function: linear
        +lg
          animation-name: go4-4
          right: 50px
    .nav-links-wrapper
      z-index: 9999
      display: block
      +lg
        display: none
        position: absolute
        padding: 24px 0
        background: $blue
        top: 0
        left: 0
        width: 100%
      +md
        height: 100vh
    .nav-links
      display: flex
      align-items: center
      justify-content: center
      +lg
        flex-direction: column
        align-items: flex-start
        max-width: 720px
        margin: auto
        padding: 0 15px
      +md-one(max-width, 540px)
      +sm-one(max-width, 100%)
      .tel
        display: none
        +lg
          display: flex
          margin-top: 13%
      .drop-link
        display: flex
        align-items: center
        transition: all 0.3s
        color: $white
        cursor: pointer
        margin-right: 26px
        position: relative
        +lg
          width: 100%
          flex-wrap: wrap
          margin: 0 0 6px 0
        &:hover
          // background: rgba(15, 65, 95, 0.7)
          span
            color: rgba(255, 255, 255, 0.6)
          img
            opacity: 0.6
        span, img
          transition: all 0.3s
        &.active
          img
            transform: rotate(180deg)
        .drop-down-links-wrapper
          position: absolute
          display: none
          left: 0
          width: 100%
          bottom: 0
          background: $blue
          padding: 16px 0
          transform: translateY(107%)
          z-index: 5556
          +lg
            position: initial
            transform: translateY(0)
            width: 100%
        .drop-down-links
          display: flex
          flex-direction: column
          align-items: flex-start
          .drop-down-link
            padding: 8px 16px
            width: 100%
            &:hover
              background: rgba(255, 255, 255, 0.06)
              
      a
        color: $white
        transition: all 0.3s
        +lg-one(padding, 9px 0)
        &:hover
          color: $link-hover
        &:not(:last-child)
          margin-right: 26px
          +lg-one(margin-right, 0)
